html,
body {
 height: 100%;
 width: 100%;
 font-family: 'Roboto', sans-serif;
}
.navbar{
  background-color: #fff;
}
.navbar-brand {
 position: absolute;
 top: 0;
 left: 10%;
}
.nav-link{
  
  position: relative;
}
.nav-link::after{
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #8C32F0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after{
  content: '';
  opacity: 1;
  
}
.btn-contact {
  text-align: center;
  font-weight: bold;
  line-height: 38px;
  background-image: linear-gradient(to right, #8C32F0, #E73587) !important;
}

.btn-contact a {
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none !important;
}


.logo{
 width: 100px;
}
#home{
position: relative;
padding-top: 5%;
}
.text{
 margin-top: 30px;
 text-align:start;
}
.tittle{
 font-size: 60px;
 font-weight: bolder;
}
.btn-text {
  text-align: center;
  font-weight: bold;
  line-height: 38px;
  width: 150px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #8C32F0, #E73587) !important;
}

.btn-text a {
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none !important;
}

#about {
 position: relative;
 padding-top: 10%;
 text-align: center;
 padding-bottom: 10%;
}
.tittle-about{
 margin-top: 15px;
 margin-bottom: 15px;
}
.tittle-about u{

  text-decoration-color: #E73587;
 
}
#service {
 position: relative;
 padding-top: 5%;
 text-align: center;
    background: linear-gradient(to bottom,
        #ffffff  0%,
          #ffffff 50%,
          #020E35 50%,
          #020E35 100%);

}
.btn-coursel {
 width: 100px;
 height: 40px;
 background: linear-gradient(to right,
  #8C32F0,
  #E73587);
 border-radius: 5px;
}



@media screen and (max-width :576px) {
 .navbar-brand {
  position: relative; 

 }
}

@media screen and (max-width :576px) {
 .logo {
  width: 50px;
  
 }
}

@media screen and (min-width:576px) {
 .carousel-inner{
 display: flex;
}
.carousel-item{
 display: block;
 margin-right: 0;
 flex: 0 0 calc(100%/3);
}
}
.carousel-inner{
 padding: 1em;
}
.card{
 margin: 0 .5em
}
.content-about{
  margin-top: 50px;
}
.text-about{
  font-size: 30px;
  text-align: center;
}

